$font-color-1: hsl(0, 100%, 67%);
$background-color-op1: hsla(0, 100%, 67%, 0.1);
$font-color-2: hsl(39, 100%, 56%);
$background-color-op2: hsla(39, 100%, 56%, 0.1);
$font-color-3: hsl(166, 100%, 37%);
$background-color-op3: hsla(166, 100%, 37%, 0.1);
$font-color-4: hsl(234, 85%, 45%);
$background-color-op4: hsla(234, 85%, 45%, 0.1);
$font-color-5: hsl(241, 100%, 89%);

$gradient-color-background-1: hsl(252, 100%, 67%);
$gradient-color-background-2: hsl(241, 81%, 54%);
$gradient-color-circle-1: hsla(256, 72%, 46%, 1);
$gradient-color-circle-2: hsla(241, 72%, 46%, 0);

$background-color-1: hsl(0, 0%, 100%);
$shadow-color: hsl(221, 100%, 96%);
$neutral-color: hsl(224, 30%, 27%);